
<div id="maincontainer" class="clearfix" >
   <app-header></app-header>
       <div id="contentwrapper">
            <div class="main_content">
                <!-- <app-j-crumbs></app-j-crumbs> -->
                <div class="row" *ngIf="tirajs?.length>0">
                  <div class="col-sm-12 col-md-12">
                          <h3 class="text-center">Tiraj pou Jodia</h3>
                  </div>
                 <div class="col-sm-12 col-md-12">
                    <app-tiraj [tiraj]="item" *ngFor="let item of tirajs"></app-tiraj>
                </div>
                </div>

                 <div class="row" *ngIf="htirajs?.length>0">
                  <div class="col-sm-12 col-md-12">
                          <h3 class="text-center">Tiraj pou ayè</h3>
                  </div>
                 <div class="col-sm-12 col-md-12">
                    <app-tiraj [tiraj]="item" *ngFor="let item of htirajs"></app-tiraj>
                </div>
                </div>
            </div>
        </div>
</div>
<app-sidebar></app-sidebar>    