<div id="maincontainer" class="clearfix">
    <app-header></app-header>
    <div id="contentwrapper">
        <div class="main_content">
            <div class="row">
                <div class="col-sm-12 col-md-4">

                    <div class="col-sm-12 col-md-12" *ngIf="!cedit">
                        <app-alert [alert]="alert" pos="1"></app-alert>
                        <h3 class="heading">Add Bank</h3>
                        <div class="form_validation_reg">
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Name<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="bank.nom">
                                    </div>
                                </div>
                            </div>

                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Phone A<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="bank.phone">
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Phone B<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="bank.phone_b">
                                    </div>
                                </div>
                            </div>

                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Email<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="bank.email">
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <label>Adress<span class="f_req">*</span></label>
                                        <input [(ngModel)]="bank.adress" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="lloading" class="btn btn-primary bm-2" (click)="save(bank)">Save</button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12" *ngIf="cedit">
                        <app-alert [alert]="alert" pos="2"></app-alert>
                        <h3 class="heading">Edit Bank
                            <i (click)="close()" class="glyphicon glyphicon-remove  close " style="margin-bottom: 1%;"></i>
                        </h3>
                        <div class="form_validation_reg">
                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Name<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="cbank.nom">
                                    </div>
                                </div>
                            </div>

                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <label>Phone A<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="cbank.phone">
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <label>Phone B<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="cbank.phone_b">
                                    </div>
                                </div>
                            </div>

                            <div class="formSep">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <label>Email<span class="f_req">*</span></label>
                                        <input class="form-control" type="text" [(ngModel)]="cbank.email">
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <label>Adress<span class="f_req">*</span></label>
                                        <input [(ngModel)]="cbank.adress" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="lloading" class="btn btn-primary bm-2" (click)="editBank(cbank)">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <h3 class="heading">All Banks</h3>
                            <table class="table table-bordered table-striped" id="smpl_tbl">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Adress</th>
                                        <th>Phones</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let g of banks; let i = index">
                                        <td>{{g.nom}}</td>
                                        <td>{{g.email}}</td>
                                        <td>{{g.adress}}</td>
                                        <td>{{g.phone}} <br/>{{g.phone_b}}</td>
                                        <td>
                                            <button class="btn btn-primary btn-xs bm-2" (click)="edit(g, i)">
                              <i class="glyphicon glyphicon-edit"></i>
                            </button>

                                            <button class="btn btn-danger btn-xs bm-2" [disabled]="loading[i]" (click)="del(g.id, i)">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-sidebar></app-sidebar>