<header class="top-header">
        <div class="header-section">
            <div class="container">
                <div class="header-wrapper">
                    <ul class="menu">
                        <li>
                          <b style="color:white;">  {{user.firstName}} {{user.lastName}} </b>
                        </li>
                    </ul>
                               <div class="cart-area">
                                    <div class="icon" style="display:inline;">
                                        <img src="assets/images/cart.png" alt="">
                                        <span  class="badge badge-primary" style="color:white; font-weight:bold;" >{{ cart.length}}</span>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
</header>