<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand pull-left" href="dashboard.html">Molotto</a>
                <ul class="nav navbar-nav" id="mobile-nav">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-list-alt"></span> Forms <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="form_elements.html">Form elements</a></li>
                            <li><a href="form_extended.html">Extended form elements</a></li>
                            <li><a href="form_validation.html">Form Validation</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-th"></span> Components <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="alerts_btns.html">Alerts &amp; Buttons</a></li>
                            <li><a href="icons.html">Icons</a></li>
                            <li><a href="notifications.html">Notifications</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="tables_more.html">Tables (more examples)</a></li>
                            <li><a href="tabs_accordion.html">Tabs &amp; Accordion</a></li>
                            <li><a href="tooltips.html">Tooltips, Popovers</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="widgets.html">Widget boxes</a></li>
                            <li class="dropdown">
                                <a href="#">Sub menu <b class="caret-right"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Sub menu 1.1</a></li>
                                    <li><a href="#">Sub menu 1.2</a></li>
                                    <li><a href="#">Sub menu 1.3</a></li>
                                    <li>
                                        <a href="#">Sub menu 1.4 <b class="caret-right"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Sub menu 1.4.1</a></li>
                                            <li><a href="#">Sub menu 1.4.2</a></li>
                                            <li><a href="#">Sub menu 1.4.3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-wrench"></span> Plugins <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="charts.html">Charts</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="datatable.html">Datatable</a></li>
                            <li><a href="dynamic_tree.html">Dynamic tree</a></li>
                            <li><a href="editable_elements.html">Editable elements</a></li>
                            <li><a href="file_manager.html">File Manager</a></li>
                            <li><a href="floating_header.html">Floating List Header</a></li>
                            <li><a href="google_maps.html">Google Maps</a></li>
                            <li><a href="gallery.html">Gallery Grid</a></li>
                            <li><a href="wizard.html">Wizard</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-file"></span> Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="blank.html"> Blank</a></li>
                            <li><a href="blog_page.html"> Blog Page</a></li>
                            <li><a href="chat.html"> Chat</a></li>
                            <li><a href="error_404.html"> Error 404</a></li>
                            <li><a href="invoice.html"> Invoice</a></li>
                            <li><a href="mailbox.html">Mailbox</a></li>
                            <li><a href="search_page.html">Search page</a></li>
                            <li><a href="user_profile.html">User profile</a></li>
                            <li><a href="user_static.html">User profile (static)</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav user_menu pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav_condensed" data-toggle="dropdown"><i class="flag-gb"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0)"><i class="flag-en"></i> English</a></li>
                            <li><a href="javascript:void(0)"><i class="flag-fr"></i> Français</a></li>
                        </ul>
                    </li>
                    <li class="hidden-phone hidden-tablet">
                        <div class="nb_boxes clearfix">
                            <a data-toggle="modal" data-backdrop="static" href="#newTiraj" data-placement="bottom" data-container="body" class="label bs_ttip" title="Nouveau Tiraj">Tire Bolè pou Jodia<i class="splashy-star_full"></i></a>
                        </div>
                    </li>
                    <li class="divider-vertical hidden-sm hidden-xs"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/user_avatar.png" alt="" class="user_avatar">{{user?.username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="user_profile.html">Profil ou</a></li>
                            <li class="divider"></li>
                            <li><a (click)="logout()">Dekonekte</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="newTiraj">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Tiraj Bolèt</h3>
                </div>
                <div class="modal-body">
                    <app-add-tiraj></app-add-tiraj>
                </div>
            </div>
        </div>
    </div>

</header>
